<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539994046035-doj6ku4ardulsotfgb7nqebfr698fvgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539994046035-doj6ku4ardulsotfgb7nqebfr698fvgd</string>
	<key>API_KEY</key>
	<string>AIzaSyCk-FaS3g_ccgIhJOCm9Y8c_K96LtIeVrw</string>
	<key>GCM_SENDER_ID</key>
	<string>539994046035</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionic.fcmApp</string>
	<key>PROJECT_ID</key>
	<string>ionic-database-635d2</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-database-635d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539994046035:ios:09325f9b02057e084310a6</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-database-635d2-default-rtdb.firebaseio.com</string>
</dict>
</plist>